<header class='navbar navbar-default'>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Le Petit Bis</a>
    </div>
  </div>
</header>
<div class='container'>
  {{outlet}}
</div>
