@import 'compass';
@import 'bootstrap';
@import 'font-awesome';


.navbar.center{
  .navbar-header{
    float: none;
    text-align: center;
  }
  .navbar-brand{
    float: none;
    display: block;
  }
}
